*{
    box-sizing: border-box;
}

body {
    background-color: rgb(233, 232, 232);
    margin: 0;
    padding: 0;
    color: black;
    line-height: 1.5;
    font-size: 16px;
}

main {
    margin: 20px auto;
    width: 94%;
}

.btn {
    background-color: blue;
    color: #fff;
    border-radius: .3rem;
    border: none;
    outline: none;
}

.btn:hover {
    background-color: blue;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, 0.212);
}

.hero {
    padding: 3% 4%;
    background-color: blue;
    color: #fff;
}

.app-title {
    font-size: 3rem;
    background-color:blue;
    padding: 0 10px;
    display: inline-block;
}

ul {
    list-style-type: none;
    line-height: 3;
}

li:first-letter {
    text-transform: capitalize;
}

.custom-li:hover {
    cursor:pointer;
}

.custom-li {
    padding-left: 8px;
    border: solid;
    border-width: 0.5px;
    border-color: rgba(142, 142, 146, 0.452);
    color: rgba(147, 147, 151);
}

.green-uv {
    background-color: green;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.warning-uv {
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
}

.danger-uv {
    background-color: red;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}